.create{
	display: flex;
	margin-top: 60px;
	justify-content: center;

}
/* .create p{
	margin: 20px;

} */
.create p input{
	width: 300px;
	margin-left: 15px;
	padding: 6px;
	border: none;
	border-bottom: 2px solid #333;
	
}
.create .save{
	font-size: 20px;
	border: 2px solid #675BF1;
	background: #675BF1;
	color: #fff;
	padding: 5px 10px;
	margin-left: 150px;
}
.btn {
	font-size: 20px;
	border: 2px solid #675BF1;
	background: #675BF1;
	color: #fff;
	padding: 5px 10px;
	margin-right: 30px;
}
